$padding-mobile: 120px;
$padding-desktop: 158px;
$logo-margin: 134px;

.footer {
  background: linear-gradient(
    180deg,
    $secondary-background-color 26.04%,
    $black 75.52%
  );
  padding: $padding-mobile 0 0;

  @include media(medium) {
    padding: $padding-desktop 0 0;
    background-position: right bottom;
    background-repeat: no-repeat;

    &__copy {
      max-width: 75%;
    }
  }

  &__copy {
    font-size: $font-size-small;

    a {
      color: $black;
    }
  }

  &__downloads {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .wallet-btn + .wallet-btn {
      margin-top: 12px;
      margin-left: 0px;
    }

    @include media(small) {
      flex-direction: row;
      .wallet-btn + .wallet-btn {
        margin-top: 0;
        margin-left: 12px;
      }
    }
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: $space-l 0 $space-xxl;
  }

  &__bg {
    display: block;
  }
}
