$padding-mobile: 120px;
$padding-desktop: 158px;
$logo-margin: 134px;

.footer {
  background-color: $secondary-background-color;
  padding: $padding-mobile 0;

  @include media(medium) {
    padding: $padding-desktop 0;
    background-position: right bottom;
    background-repeat: no-repeat;

    &__copy {
      max-width: 75%;
    }
  }

  &__copy {
    font-size: $font-size-small;
  }

  &__logo {
    margin-top: $logo-margin;
  }
}
