$action-margin-desktop: 55px;
$riddle-image-size-desktop: 105px;
$riddle-image-size-mobile: 96px;
$reward-padding: 20px;
$qr-padding: 15px;
$side-padding: 56px;
$side-width: 162px;

$icon-size: 20px;

$margin-bottom: 104px;

.quest {
  margin-bottom: $margin-bottom;

  @include media(medium) {
    display: flex;
  }

  &__side {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    max-width: $side-width;
    font-size: $font-size-tiny;

    @include media(medium) {
      padding-left: $side-padding;
      max-width: $side-padding + $side-width;
    }

    &--mobile {
      margin-bottom: $space-xxl;
      @include media(medium) {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include media(medium) {
        display: flex;
      }
    }
  }

  &__reward {
    border-radius: $base-border-radius;
    background-color: $dark-gray;
    max-width: 100%;
    padding: $reward-padding;
    font-weight: bold;
    color: $black;

    &__value {
      display: block;
      color: $white;
    }

    @include media(small) {
      .quest__reward__value {
        display: inline;
      }
    }
  }

  &__qr {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $base-border-radius;
    background-color: $white;
    padding: $qr-padding;
    margin-bottom: $space-base;

    &--cell {
      opacity: 0.95;
    }

    &--cell-empty {
      fill: $white;
    }

    &--cell-filled {
      fill: $black;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-xxl;

    @include media(medium) {
      flex-direction: row;
    }
  }

  &__action {
    appearance: none;
    transition: opacity 0.12s ease-in;
    display: flex;
    align-items: center;
    margin-bottom: $space-l;
    color: $white;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: $font-size-regular;

    @include media(medium) {
      margin-right: $action-margin-desktop;
      margin-bottom: 0;
    }

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    &__icon {
      width: $icon-size;
      height: $icon-size;
      margin-right: $space-base;
    }
  }

  &__download {
    display: flex;
  }

  &__riddles {
    display: flex;
    justify-content: space-between;

    @include media(medium) {
      justify-content: flex-start;
    }
  }

  &__riddle {
    appearance: none;
    transition: opacity 0.12s ease-in;
    display: flex;
    flex-direction: column;
    color: $white;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
      text-decoration: none;
    }

    @include media(medium) {
      display: block;
      margin-right: $action-margin-desktop;
    }

    &__image {
      border-radius: $base-border-radius;
      width: $riddle-image-size-mobile;
      height: $riddle-image-size-mobile;
      background-color: $secondary-background-color;
      overflow: hidden;

      @include media(medium) {
        width: $riddle-image-size-desktop;
        height: $riddle-image-size-desktop;
      }
    }

    &__title {
      margin: $space-base 0 $space-xxs;
      font-size: $font-size-small;
      font-weight: normal;

      &__no {
        display: none;
      }

      &__no {
        @include media(medium) {
          display: inline;
        }
      }

      @include media(medium) {
        font-size: $font-size-regular;
      }
    }

    &__unknown {
      font-size: $font-size-mini;
      color: $light-gray;

      @include media(medium) {
        font-size: $font-size-small;
      }
    }
  }

  &--completed {
    .quest {
      &__title {
        text-decoration: line-through;
      }
      &__reward {
        color: $white;
      }
    }
  }

  &--XMY {
    .quest {
      &__title,
      &__download-title {
        color: $pink;
      }
      &__reward {
        background-color: $pink;
      }
    }
  }
}
