html {
  color: $base-font-color;
  font-family: $base-font-family;
}

h2 {
  margin: 0.9em 0;
  font-size: $font-size-l;
  font-weight: bold;
}

h3 {
  margin: 0;
  font-size: $font-size-s;
  font-weight: bold;
}
