// Typography
$base-font-family: 'Inter UI', 'Helvetica Neue', Arial, sans-serif;

// Breakpoints
$small: 480px;
$medium: 768px;
$large: 1000px;

// Font sizes
$font-size-large: 56px;
$font-size-medium: 48px;
$font-size-regular: 24px;
$font-size-small: 18px;
$font-size-tiny: 14px;

// Vertical rhythm spacing
$space-base: 10px;
$space-xxs: $space-base * 0.25;
$space-xs: $space-base * 0.5;
$space-s: $space-base * 0.75;
$space-l: $space-base * 1.5;
$space-xl: $space-base * 2;
$space-xxl: $space-base * 3;

// Colors
$white: rgb(255,255,255);
$black: rgb(0,0,0);
$gray: rgb(44, 45, 52);
$medium-gray: rgb(119, 122,146);
$light-gray: rgb(138, 138, 143);
$lighter-gray: #FAFAFA;
$purple: #617AF7;

// Background Colors
$base-background-color: $black;
$secondary-background-color: $medium-gray;
